.NavContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(158, 166, 15, 0.815);
    padding: 5px;
    
 
}

.title{
    color: black;
    font-weight: bold;
    margin-left: 10px;
}
